<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Chat</title>
    <link rel="stylesheet" href="/dist/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-wrap">
        <div class="container">
            <div class="sidebar">
                <div class="sidebar__input-win">
                    <input class="people-search-input__key" type="submit" value="">
                    <input class="people-search-input" type="text" name="search-input" placeholder="Search..." />
                </div>

                <div class="sidebar__peoples-scroll">
                    <div class="human">
                        <img class="human__avatar" src="./images/human1.png" alt="human1">
                        <div class="human__name">Annonimus</div>
                    </div>
                    <div class="human">
                        <img class="human__avatar" src="./images/human2.jpg" alt="human2">
                        <div class="human__name">Misha Jakson</div>
                    </div>
                    <div class="human">
                        <img class="human__avatar" src="./images/human3.jpg" alt="human3">
                        <div class="human__name">Kity SwEeT</div>
                    </div>
                    <div class="human">
                        <img class="human__avatar" src="./images/human4.png" alt="human4">
                        <div class="human__name">Big_boss_9</div>
                    </div>
                    <div class="human">
                        <img class="human__avatar" src="./images/human5.png" alt="human5">
                        <div class="human__name">Кароль Каралей</div>
                    </div>
                    <div class="human">
                        <img class="human__avatar" src="./images/human6.png" alt="human6">
                        <div class="human__name">Jimbo</div>
                    </div>
                    <div class="human">
                        <img class="human__avatar" src="./images/human7.png" alt="human7">
                        <div class="human__name">RoketBoy</div>
                    </div>
                    <div class="human">
                        <img class="human__avatar" src="./images/human8.jpg" alt="human8">
                        <div class="human__name">__Lolly-Lolly__</div>
                    </div>
                </div>
            </div>
            <div class="chatinput">
                <div class="wordout">

                    <div class="receiver">
                        <div class="avatar">
                            <img class="human__avatar" src="./images/human8.jpg" alt="human8">
                        </div>
                        <div class="ms-field">
                            <span>How are you?</span>
                        </div>
                    </div>

                    <div class="sender">
                        <div class="ms-field">
                            <span>Fine, and you?</span>
                        </div>
                        <div class="avatar">
                            <img class="human__avatar" src="./images/human5.png" alt="human5">
                        </div>
                    </div>

                </div>
                <div class="wordin">
                    <textarea class="wordin__ms-txt" name="text" id="" cols="30" rows="10"
                        placeholder="Write the sentence..."></textarea>
                    <input class="wordin__ms-key" type="submit" value="">

                </div>

            </div>
        </div>

        <script src="js/index.min.js"></script>

</body>

</html>